Flask==2.3.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
Flask-Login==0.6.3
Flask-Mail==0.9.1
Werkzeug==2.3.7
Jinja2==3.1.4
itsdangerous==2.1.2
MarkupSafe==2.1.5
blinker==1.7.0
qrcode==7.4.2
APScheduler==3.10.4
python-dateutil==2.9.0
tzlocal==5.2
typing_extensions==4.9.0
